.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.page-title {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.filter-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}
.patient-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2rem;
}

.patient-list li {
    list-style: none;
}
.dashboard-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}